nav{
height: 10vh;
display: flex;
flex-direction: row;
background-color:aliceblue;
font-size: 30px;
margin-bottom: 10px;

}
#left-nav{
display: flex;
flex-direction: row;
flex: 1;
}
#left-nav div{
    margin-left: 15px;
    margin-top: 5px;
}
#right-nav{
background-color: antiquewhite;
display: flex;
flex-direction: row;
flex-grow: 3;
justify-content: end;
}
#right-nav div{
    margin-right: 15px;
    margin-top: 5px;
}
section{
font-size: 20px;
display: flex;
flex-direction: column;
margin: auto;
}
section div div{
margin-left: 10px;
background-color: goldenrod;
border-radius: 2px;
padding: 5px;
text-align: center;
flex-grow: 1;
height: 10vh;
display: flex;
align-items: center;
justify-content: center;
}
#first-line-boxes{
display: flex;
margin-bottom: 10px;

}
#second-line-boxes{
display: flex;
}
.hidden{
    display: none;
}
#add-student{
    width: 40vw;
    height: 40vh;
    background-color: beige;
    border:solid 2px skyblue ;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#add-student div,#add-course div,#add-department div{
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    height: fit-content;
    margin-top: 10px;

}

#cancel{
    margin-right: 5px;
    
}
#add-course{
    width: 50vw;
    height: 50vh;
    background-color: burlywood;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#add-department{
    width: 50vw;
    height: 50vh;
    background-color: burlywood;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Add this to your style.css or within the <style> tag in the <head> */
#success-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  #success-message {
    text-align: center;
  }
  
  #check-icon {
    font-size: 36px;
    color: green;
    margin-bottom: 10px;
  }

  #show-box{
    margin-top: 10px;
    background-color: whitesmoke;
    opacity: 0.9;
    display: flex;
    flex-wrap:wrap;
    gap: 20px; 
    justify-content: space-evenly;
  }
  #show-box div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 16%;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: aqua;
    padding: 10px;
    text-align: center;
  }
  

   .hidden{
    display: none;
}